---
import { getWeeklyPosts } from '@/src/utils/contents/weekly'
import StatCard from '~/components/ui/StatCard.astro'
import Button from '~/components/ui/Button.astro'
import StarBorder from '~/components/ui/StarBorder.astro'

const weekly = await getWeeklyPosts()
const latestWeeklyList = weekly.slice(0, 12);
---

<section class="py-12 dark:bg-dark">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-8">最新周刊</h2>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {latestWeeklyList.map((weekly) => (
                <li>
                    <a href={weekly.permalink} class="block">
                        <StatCard
                            title={weekly.title}
                            date={weekly.date}
                            tags={weekly.tags}
                        />
                    </a>
                </li>
            ))}
        </ul>
        <div class="mt-8 text-center">
            <Button href="/weekly">
                更多内容
            </Button>
        </div>
    </div>
</section> 