---
import { SITE } from 'weekly:config';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-lg md:text-2xl sm:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  🚀 {SITE?.name}
</span>
