---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import Announcement from '~/components/widgets/Announcement.astro';
import SearchModal from '~/components/common/SearchModal.astro';
import ReadingProgress from '~/components/common/ReadingProgress.astro';
import BackToTop from '~/components/common/BackToTop.astro';

import { footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- 全局搜索弹窗 -->
  <SearchModal />
  
  <!-- 阅读进度条 -->
  <ReadingProgress />
  
  <!-- 返回顶部按钮 -->
  <BackToTop />
  
  <slot name="header">
    <Header isSticky showRssFeed />
  </slot>
  <slot name="announcement">
    <Announcement />
  </slot>
  <!-- 移动端不显示 Announcement，所以只需要 Header 的高度 -->
  <!-- 桌面端需要 Header + Announcement 的高度 -->
  <main class="pt-10 md:pt-[76px]">
    <slot />
  </main>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
